a {
    color: white;
}

.move {
    width: 50rem;
    display: flex;
    justify-content: flex-end;

}

nav {
    background-color: rgb(100 111 132) !important;
    width: auto;
}

.ba {
    color: white !important;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
    margin-left: 20px;
}
.ba:not(:hover){
    color:rgb(255, 252, 252);
}

.nl {
    color: white;
}

a.nav-link.nl:active,
a.nav-link.nl:hover,
a.nav-link.nl:focus {
    color: goldenrod;
}

.he {
    background-size: cover;
    background-image: url(im/hero-bg.jpg);
    width: 100%;
    height: 80vh;
    background-position: center;
    position: relative;
}

.he::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(45, 53, 69, 0.7);

}

.bh {
    position: absolute;
    color: white;
    font-family: "Raleway", sans-serif;
    line-height: 50px;
    margin: 0px;
}

.b1 {
    color: white;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
}

h2 {
    line-height: 40px;
    font-size: 20px;
    font-weight: 100;
}

.bu {
    right: 50%;
    transform: translate(50%, 300%);
    outline-color: #FFC107;
    width: auto;
    bottom: 80px;

}

.row div {
    margin-top: 35px;
}

.row div .image-lo {
    width: 70%;
    filter: grayscale(1.0);
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    
}

.row div .image-lo:hover {
    cursor: pointer;
    filter:grayscale(.0);
    transform: scale(1.1,1.1);
}

.about-title{
    font-weight:bolder;
    font-size: 30px;
    color:#414C64;
}

.icon,.icon2{
    color:#8B97B3;
}
.about-body2, 
.about-body{
    font-weight:500;
    color:#444444 ;
}
.about-head,
.head-about,
.head-body,
.head-body2{
    color: #8B97B3;
}
.con-number{
    background-color: #4444440b;
}
.number{
    margin-top: 20px;
    color:#04040497;
    font-size: 17px;
    font-weight:400;
    margin-bottom:30px;
}
.number2{
    font-size: 60px;
    color: rgba(0, 0, 0, 0.779) !important;
    font-weight: 400;
    margin-bottom:20px;
}
/*start service*/
.pp-2{
    padding: 0px 10px;
}
.head-service{
    font-size: 35px;
    font-weight:400;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.head-service::after{
    content: "";
    display: block;
    width:50px;
    height: 3px;
    color: #FFC107;
    background-color: #FFC107;
    position: relative;
    left:50%;
    transform: translate(-50%,0.75rem);
    border-radius:5px
}
.head-service-1 p{
    color: #0000006b;
    font-size: 15px;
    font-weight: 500;}
.icon-1,
.icon-2,
.icon-3,
.icon-4,
.icon-5,
.icon-6{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 83px;
    height: 82px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-timing-function: ease-in-out;
    transition-duration: 0.40s;
}
.icon-1{
    color: rgba(86, 145, 232, 0.923);
    background-color: #8b97b31a;
    transition: .40s;
}
.ico-1:hover .icon-1{
    color:white;
    background-color: rgba(86, 145, 232, 0.923);
}
.icon-2{
    color: rgba(230, 155, 68, 0.923);
    background-color: #8b97b31a;
}
.ico-2:hover .icon-2{
    color:white;
    background-color: rgba(230, 155, 68, 0.923);
}
.icon-3{
    color: rgba(233, 71, 133, 0.923);
    background-color: #8b97b31a;
}
.ico-3:hover .icon-3{
    color:white;
    background-color: rgba(233, 71, 133, 0.923);
}
.icon-4{
    color: rgba(222, 127, 54, 0.923);
    background-color: #8b97b31a;
}
.ico-4:hover .icon-4{
    color:white;
    background-color: rgba(222, 127, 54, 0.923);
}
.icon-5{
    color: rgba(232, 86, 86, 0.923);
    background-color: #8b97b31a;
}
.ico-5:hover  .icon-5{
    color:white;
    background-color: rgba(232, 86, 86, 0.923);
}
.icon-6{
    color: rgba(86, 232, 198, 0.923);
    background-color: #8b97b31a;
}
.ico-6:hover .icon-6{
    color:white;
    background-color: rgba(86, 232, 198, 0.923);
}
.ico-1,.ico-2,
.ico-3,.ico-4,
.ico-5,.ico-6
{
box-shadow:rgba(0, 0, 0, 0.056) -1px -1px 6px 1px;
transition-duration: 0.40s;
transition-timing-function: ease-in-out ;
}
.ico-1:hover,.ico-2:hover,
.ico-3:hover,.ico-4:hover,
.ico-5:hover,.ico-6:hover
{
box-shadow:rgba(0, 0, 0, 0.056) -3px -3px 6px 2px;
}

.title-icon
{
    font-weight:400;
    font-size:25px
}
.body-icon{
    font-size: 18px;
    color:#00000080;
}
.call-to{
    padding:60px;
    margin: 0px;
    border: 0px;
    height: auto;
    background-color: #414C64;
    text-align:center;
    margin-top: 3rem;
    font-family: 'Raleway','sans-serif';
}
.call-to h2{
    color: white;
    font-size: 28px;
    font-weight: 700;
}
.call-to p{
    color: white;
    font-size: 13px;
    font-weight:500;
    margin:50px 0px;
}
    .bm{
        width: 150px;
        height:50px;
        text-align: center;
    }
    .bm a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height:37px;
    }
    .testi{
        margin-top:40px;
    }
    .test-title{
        font-weight:600;
        font-size: 25px;
        text-transform:uppercase;
        letter-spacing:1.50px;
    }
    .test-title::after{
        content: "";
        width: 70px;
        height: 2px;
        background-color:#FFC107;
        display: block;
        transform: translate(-50%, -50%);
        left: 50%;
        position: relative;
        margin:20px 0px;
    }
    /*carousel*/
    .ce img{
        width: 90px !important;
        border-radius: 100%;
        position: relative;
        top: -27px;
        border: 5px solid white;
        left: 20px;
    }
    .carousel{
        margin-top: 3.5em;
        font-family:"Raleway", sans-serif;
        min-height: 25rem;
    }
    .ce1 p::before{
        content:"\f10d";
        font-family: "fontAwesome";
        color: #ffc10763;
        font-size: 25px;
        margin-right: 6px;
    }
    .ce1 p::after{
        content:"\f10e";
        font-family: "fontAwesome";
        color: #ffc10763;
        font-size: 25px;
        margin-right:6px;
    }
    .cce{
        color:black;
        position: relative;
        left:5px;
        margin-top: 20px;
        width:100%;
        text-align:left;
    }
    .cce h5{
        font-weight: bold;
    }
    .cce p{
        line-height: 10px;
        color: #999;
    }
    .carousel-indicators [data-bs-slide-to]
    {
        width: 12px;
        height: 15px;
        border-radius: 100%;
        border: 1px;
        border-style: solid;
        border-color: #efaf2cbf !important;
        transition: 0s;
    }
    .carousel-indicators .active{
        border-color: #efaf2cbf !important;
        background-color: #efaf2cbf !important;
    }
    .ce1{
        box-sizing: content-box;
        padding: 20px;
        background-color:#f7f8fab5;;
    }
    .ce1 p{
        font-size: 17px;
        text-align: left;
        font-style: italic;   
     }
     .testi .test-ti{
        font-size: 15.5px;
        color: #aab3c7;
    }
    /*end corousal*/
/*start potfolio*/
.portfolio{
    margin-top: 4rem;
}
.por{
    list-style: none;
    display: flex;
    justify-content: center; 
}
.por li{
    margin: 0px 21px;
    width: 58px;
    border-radius: 89px;
    height: 37px;
    padding: 5px;
}
.por li:hover
{
    background-color: #FFC107;
    cursor: pointer;
}
.po-body{
    overflow: hidden;
    margin:auto 0px;

}
.crad ,.web ,.app{
    background-color: #ffc10789;
    width: 100%;
    height: 5rem;
    text-align: start;
    padding: 10px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    top: -35px;
    transition: all ease-in-out 0.3s;
    opacity: 0;
}
.mg:hover .crad,
.mg:hover .app,
.mg:hover .web
{
    position: relative;
    top: -120px;
    background-color: #FFC107;
    opacity: 1;
}

.mg{
    overflow: hidden;
    position: relative;
    margin-bottom: -127px;

}
.mg img{
    position: relative;
    top: 0px;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.mg:hover img{
    position: relative;
    top:-3rem;
}
.crad a, .web a, .app a{
position: relative;
top: -56px;
left: 203px;
font-size: 19px;
margin-right: 7px;
}
/*team*/
.team{
margin-bottom: 4rem;
}
.cr-team{
    background-color: #F7F8FA;
    padding: 40px 0px 0px 0px;
    margin-top: 54px;
    display: flex;
    justify-content: center;
}
.cr-bo{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    background-color: #F7F8FA;
    margin: 0px 0px 0px 0px;
    justify-content: center;
}
.cr-t{
    padding: 0px;
    width: 13rem;
    margin: 13px;
}
.cr-team p,.cdb p{
    color:#AAB3CB;
}
.cr-team p{
    font-size: 15px;
    font-weight: 300;
}
.cdb{
    margin-top:-30px !important;
}
.ion-team{
    position: relative;
    background-color: rgba(255, 255, 255, 0.797);
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 69px;
    flex-direction: row;
    padding: 0px 41px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    transition-duration: 0.1s;
    color: #414c64;
    font-size: 20px;
}
.card:hover .ion-team{
opacity:1;
}
.ion-team a{
    color: #414c64;
    font-size: 20px;
    transition:color 0.3s ;
    margin:0px 6px;
}
.ion-team a:hover{
    color:#FFC107;
}
.p{
    padding-bottom:30px;
}
/*pricing*/
h5.ti-pricing{
    font-size: 34px;
    font-family: emoji;
    letter-spacing: 2px;
    font-weight: bolder;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.p.p-pricing{
    color: #00000075;
    font-size: 15px;
    font-weight: 600;
}
.p{
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 12%);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.body-pricing.text-center{
    display: flex;
    justify-content: center;
}
.ti-bo-pr:not(.ti-bo-pr2){
    background-color: #f6f6f6;
    padding: 20px;
    margin-bottom:20px;
    color: #adb5bd;
    font-family: none;
    font-size: 22px;
}
.ti-bo-pr2{
    background-color: #FFC107 ;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: none;
    font-size: 22px;
}
.rotit{
    width: 200px;
    position: absolute;
    top: -21px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #ffc107;
    color: #fff;
}
.ti-bo-pr4{
    margin: auto;
}
.na{
    text-decoration: line-through;
    color: #adb5bd;
}
.bn a button:not(.btn-warning){
    border: 2px solid #C8CEDC;
    color: #6e6f71;
    font-weight: 600;
}
.bn-2 a button{ 
    color:white !important;
}
.tir sup{
    font-weight: 700;
    color: #FFC107;
    font-size: 20px;
}
.tir .titi{
    color:#FFC107;
    font-size: 30px;
    font-weight: bolder;
}
.bn a .btn:active,
.bn a .btn:hover{
    background-color:white;
    border: 2px solid #C8CEDC;
    color: #6e6f71;
    font-weight: 600;
}
/*start question*/
.question{
    margin-top:8rem;
    background-color:#F7F8FA;
    padding-bottom: 2rem;;
}
.title-qestion{
    margin-top: 20px;
}
.title-qestion::after
{
    content: "";
    display: block;
    width: 9rem;
    height: 3px;
    background-color: #FFC107;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    margin: 15px 0px;
    bottom: -7px;
    border-radius: 5px;
}
.body-qestion div a{
    color: #000000d4;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    display: block;
    position: relative;
    top: -2px;

}
.body-qestion div a:before{
    content: "\3f";
    font-family: fontawesome;
    font-size: 12px;
    color: #FFC107;
    border-radius: 100%;
    border: 2px solid #FFC107;
    padding: 2px 4px;
    margin: 0px 10px 0px 0px;
    font-weight: 600;
}
.body-qestion div p{
    font-size: 17px;
    font-weight: 300;
    padding: 0px 20px 0px 20px;
    margin: -10px 0px 0px 0px;
    transition-timing-function: cubic-bezier(0.27, 0.23, 0.58, 1);
    transition-delay: 0.1s;
}
.body-qestion div p:before{
    content: "";
    display: block;
    width: 20px;
    height: 25px;
}
.body-qestion div[data-aos="fade-up"]{ 
    background-color: white;
    border-radius: 10px;
    margin-top: 20px; 
    padding: 20px;
}
/*.qes{
    height:34rem;
}*/
a[aria-expanded="true"] .icon-show:not(.icon-close){
    display: none !important;
}
a[aria-expanded="false"] .icon-close:not(.icon-show) { 
       display: none
    }
a:hover .icon-show,
a:hover .icon-close,
a.qu:hover
{
    color:#FFC107;
}
.icon-show,
.icon-close{
    position: absolute;
    right: 15px;
    top: 5px;
    width: 11px;
    margin-right: -23px;
}
/*conect*/
/*.conect{
    margin-top:6rem;
}*/
.title-cet{
    font-size: 25px;
    font-weight: 900;
}
.title-cet::after
{
    content: "";
    display: block;
    width:60px;
    height:3px;
    position: absolute;
    background-color: #FFC107;
    left: 50%;
    transform: translate(-50%,50%);
    margin:15px 0px;
}
.pa-cet{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400; 
    color: #AAB3CB;
}
.bdy-cot-1{
    margin-bottom: 30px;
}
.i-1{
    color: #FFC107;
    font-size: 25px;
    border: 1px solid #FFC107 ;
    border-radius: 50%;
    padding: 10px 13px;
    margin-bottom: 15px;
}
.title-co1,.title-co2,.title-co3{
    font-weight: 700;
    font-size: 18px;
    color: #00000087;
}
.b-contect1{
    font-weight: 300;
    color: #6e6f71;
    font-size: 16px;
}
.bd-2 form div input{
    border-radius: 15px;
    height: 40px;
    border: 0px;
    border: 1px solid;
    margin: 0px;
}
input[type="email"]{
margin-left:2rem;
}
input[type="email"],
input[type="text"]{
    width:13rem;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder{
    padding-left: 15px;
}
.inp-1, .inp-2, .inp-3{
    margin-bottom:-12px;
}
.in:focus{
   border:1px solid #FFC107 !important;
   outline: 0px solid #FFC107
}
/*strat footer top*/
.foot p{
    color:rgba(0, 0, 0, 0.632);
}
.foot p strong{
    color:#6e6f71;
}
.our-ser li a,.use-links li a{
color:rgba(0, 0, 0, 0.632);
text-decoration:none;
font-weight: 400;
}
.our-ser li a:hover,.use-links li a:hover{
color: #FFC107;
}
.our-ser li a::before,.use-links li a::before{
    content:'\f054';
    font-family: fontawesome;
    color: #FFC107;
    margin-right: 10px;
    font-size: 12px;
}
.our-ser li,.use-links li{
    list-style:none;
    line-height: 40px;
}
.our-ser,.use-links{
    padding: 0px;
}
input[value="Subscribe"]{
    position: absolute;
    border-radius: 50px;
    background-color: #FFC107;
    outline: 0px;
    border: 0px;
    color: white;
    padding: 10px 21px;
    right: -5px;
    margin-left: -15px;
}
input[name="email"]{
    margin: 0px;
    width: calc(100% - 100px);
    padding: 4px 8px;
    border:0px;
    outline: 0px;
}
.bfooter h5:not(.foot h5){
    color: #FFC107;
    font-size: 15px;
}
form.group-input{
    position: relative;
    background-color: #fff;
    border: 1px solid #100f0f2e;
    border-radius: 50px;
    text-align: left;
    padding: 0px 10px;
    margin-top: 35px;
    height: 45px;
}
/*end footer top*/
.fot{
    background-color: #f4f5f8;
    margin-top: 40px;
    padding: 20px;
    }
/*.icon-footer{
 letter-spacing: 15px;
}*/
.icon-footer a{
    background-color: #889abd;
    border-radius: 100%;
    color: #464d5b;
    transition: all .50s;
    width: 43px;
    display: inline-flex;
    height: 42px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.icon-footer a:hover{
    background-color: #ffcf3d;
}
.bf p a{
    color: #FFC107;
    text-decoration:none;
    font-weight: 500;
}
.dup{
    background-color: #ffcf3d;
    position: fixed;
    right: 20px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    bottom: 85px;
    display: none;
}